apiVersion: v1
kind: Secret
metadata:
  name: flask-ec-app-secrets
  namespace: flask-ec-app
type: Opaque
stringData:
  SECRET_KEY: "change-this-to-a-random-secret-key"
  DATABASE_URL: "postgresql://username:password@rds-endpoint.region.rds.amazonaws.com:5432/ecdb"
  NEW_RELIC_LICENSE_KEY: "your-new-relic-license-key-here"
